body {
  box-sizing: border-box;
  background-color: coral;
}

.pageHeader, .cardContainer {
  background-color: aqua;
  border: 1px solid black;
  padding: 0;
  max-width: 75%;
  text-align: center;
  margin: 0 auto;
}

.cardContainer {
  width: 300px;
  height: 300px;
  font-size: 30px;
  font-weight: 700;
  ;
}

.pageHeader {
  margin-bottom: 125px;
}

.buttonContainer {
  text-align: center;
  margin-top: 30px;
}

.buttonContainer button {
  min-width: 125px;
}

.cardContainer p {
  margin-top: 75px;
  font-weight: normal;
  font-style: italic;
}

/* .listContainer ul {